.Footer {
  display: flex;
  justify-content: flex-start;
  background-color: grey;
  justify-content: center;
}

.Footer a {
  margin-left: 30px;
  font-size: large;
  font-family: Chandas;
  padding: 30px;
}
